<a href="https://colab.research.google.com/github/capitallatera/Assignments/blob/master/python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Print hello world
print("Hello World")

Hello World

In [ ]:
# Add two numbers
num1=int(input("Enter first number :"))
num2=int(input("Enter second number :"))
print("Sum is ",num1+num2)

Enter first number :10
Enter second number :20
Sum is  30

In [ ]:
# Find the squre root
num=int(input("Enter the number for square root :"))
print('Square root of {0} is {1}'.format(num,round(num**0.5,3)))

Enter the number for square root :4
Square root of 4 is 2.0

In [ ]:
# Calculate area of triangle
height=int(input("Enter the height :"))
base=int(input("Enter the base :"))
area=(height*base)/2
print("Area of Triangle is :", area)

Enter the height :2
Enter the base :4
Area of Triangle is : 4.0

In [ ]:
# Calculate Quadratic Equation
# 6x^2+12x+17
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
c=int(input("Enter the value of c :"))
sub_result=(b**2)-(4*a*c)
result1=(-b+sub_result**0.5)/2*a
result2=(-b-sub_result**0.5)/2*a
print("Result is :",result1,result2)

Enter the value of a :6
Enter the value of b :12
Enter the value of c :17
Result is : (-35.99999999999999+48.744230427815765j) (-36.00000000000001-48.744230427815765j)

In [ ]:
# Swap two numbers
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
print("Value of a is {0} and b is {1} ".format(a,b))
print("After Swapping")
a,b=b,a
print("Value of a is {0} and b is {1} ".format(a,b))

Enter the value of a :10
Enter the value of b :20
Value of a is 10 and b is 20
After Swapping
Value of a is 20 and b is 10

In [ ]:
# Generate random number
import random
print(random.randint(0,10))

0

In [ ]:
# Converting kilometres to miles
kilometer=float(input("Enter the value of kilometer :"))
miles=kilometer*0.621371
print("Value of {0} kilometer in miles is :{1}".format(kilometer,miles))

Enter the value of kilometer :0
Value of 0.0 kilometer in miles is :0.0

In [ ]:
# Converting celsius to fahrenheit
celsius=float(input('Enter the celsius :'))
fahrenheit=(celsius*9/5)+32
print("Value of {0} degree celsius into fahrenheit is {1}".format(celsius,fahrenheit))

Enter the celsius :0
Value of 0.0 degree celsius into fahrenheit is 32.0

In [ ]:
class convert:
  def __init__(self):
    self.fahrenheit=0
    self.celsius=0
    self.option=0

  def show(self):
    for i,j in enumerate(["celsius to fahrenheit", "fahrenheit to celsius"]):
      print(i," ---> ",j)
    
  def conversion(self,value):
    if self.option==0:
      celsius=value
      self.fahrenheit=(celsius*9/5)+32
    else:
      fahrenheit=value
      self.celsius=(fahrenheit-32)*5/9
    
  def get_value(self):
    for i,j in enumerate(["celsius to fahrenheit", "fahrenheit to celsius"]):
      print(i," ---> ",j)
    print()
    self.option=int(input("Enter your option :"))
    string="Celsius" if self.option==0 else "Fahrenheit"
    value=int(input("Enter the value ({0}) for conversion :".format(string)))
    return value
  
  def result(self):
    if self.option==0:
      print("Fahrenheit is :",self.fahrenheit)
    else:
      print("Celcius is :",self.celsius)

In [ ]:
object=convert()
object.conversion(object.get_value())
object.result()

0  --->  celsius to fahrenheit
1  --->  fahrenheit to celsius

Enter your option :1
Enter the value (Fahrenheit) for conversion :32
Celcius is : 0.0

In [ ]:
# Check if the number is positive, negative or zero
num=int(input("Enter the number "))
if (num>=1):
  print("Positive")

elif (num<0):
  print("Negative")
else:
  print("Zero")

Enter the number 1
Positive

In [ ]:
# Check if number is odd and even
num=int(input("Enter the number :"))
if (num%2==0):
  print("Even")
else:
  print("Odd")

Enter the number :23
Odd

In [ ]:
# Program to check Leap year
year=int(input("Enter the year :"))
value=[]
if year%4==0:
  value.append(True)
else:
  value.append(False)

if year%100==0:
  value.append(True)
else:
  value.append(False)

if year%400==0:
  value.append(True)
else:
  value.append(False)

print()
if any(value):
  print("{0} is a {1}".format(year,"Leap year"))
else:
  print("{0} is a {1}".format(year,"Not a Leap year"))

Enter the year :2100

2100 is a Leap year

In [ ]:
# Largest among the 3 number
num1=int(input("Enter First number :"))
num2=int(input("Enter Second number :"))
num3=int(input("Enter Third number :"))
if num1>num2 and num1>num3:
  print("First number is the largest number",num1)
elif num2>num1 and num2>num3:
  print("Second number is the largest number",num2)
else:
  print("Third number is the largest number",num3)

Enter First number :30
Enter Second number :20
Enter Third number :10
First number is the largest number 30

In [ ]:
# Check the prime number
num=int(input("Enter the number "))
for i in range(2,num):
  if num%i==0:
    print("{0} is not a prime number".format(num))
    break
else:
  print("{0} is a prime number".format(num))

Enter the number 6
6 is not a prime number

In [ ]:
# print prime number in interval
num1=int(input("Start point number "))
num2=int(input("End point number "))
print("Prime numbers between {0} and {1} are".format(num1, num2))
for i in range(num1,num2+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

Start point number 900
End point number 950
Prime number between 900 950 are
907
911
919
929
937
941
947

In [ ]:
# Factorial of a number
def fac(n):
  if n==0 or n==1:
    return 1
  if n>1:
    return n*fac(n-1)

In [ ]:
num=int(input("Enter the number for factorial "))
fac(num)

Enter the number for factorial 7

5040

In [ ]:
# Display multiplication of number
num=int(input("Enter the number "))
for i in range(1,11):
  print("{0:1} x {1:2} = {2:2}".format(num,i,num*i))

Enter the number 2
2 x  1 =  2
2 x  2 =  4
2 x  3 =  6
2 x  4 =  8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x 10 = 20

In [ ]:
# print the fibonaci number  {1 1 2 3 5 8 13 21}
def fib(n):
  value0=0
  value1=1

  if n<=0:
    print("Enter the valid number")
    
  if n>=1:
    print(1)
    count=1
    while(count<n):
      value2=value0+value1
      print(value2)
      value0=value1
      value1=value2
      count+=1

In [ ]:
fib(10)

1
1
2
3
5
8
13
21
34
55

In [ ]:
# Check Armstrong number
num=int(input("Enter the number "))
size=len(str(num))
num_temp=0
for i in str(num):
  num_temp=num_temp+pow(int(i),size)

print("Armstrong Number" if num_temp==num else "Not a Armstrong number")

Enter the number 407
Armstrong Number

In [ ]:
# Check Armstrong number in interval
first=int(input("Enter the first number "))
second=int(input("Enter the seconod number "))
# print(first, second)

for j in range(first,second+1):
  num_temp=0
  size=len(str(j))
  for i in str(j):
    num_temp=num_temp+(int(i)**size)

  if num_temp==j:
    size=len(str(second))
    print("{0:{1}} is a Armstrong Number".format(j,size))

Enter the first number 100
Enter the seconod number 2000
 153 is a Armstrong Number
 370 is a Armstrong Number
 371 is a Armstrong Number
 407 is a Armstrong Number
1634 is a Armstrong Number

In [ ]:
# Find the sum of natural numbers
num=int(input("Enter the num ")) 
show="Enter positive non-zero number" if num<=0 else 0

for i in range(num):
  show=show+i+1
print(show)

Enter the num 0
Enter positive non-zero number

In [ ]:
# Display powers of 2 using anonymous fucntion
num=int(input("Enter the number "))
lists=list(map(lambda x: 2**x,range(num)))
for i,j in enumerate(lists):
  print("2 raised to power {0} is {1:3}".format(i,j))

Enter the number 10
2 raised to power 0 is   1
2 raised to power 1 is   2
2 raised to power 2 is   4
2 raised to power 3 is   8
2 raised to power 4 is  16
2 raised to power 5 is  32
2 raised to power 6 is  64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [ ]:
# Find numbers divisible by another number
my_list = [12, 65, 54, 39, 102, 339, 221,]
lists=list(filter(lambda x: x if x%13==0 else "" ,my_list))
print("Number divisible by 13 are {0} ".format(lists))

Number divisible by 13 are [65, 39, 221]

In [ ]:
# Convert Decimal to Binary, Octal and Hexadecimal
dec=int(input("Enter the decimal value "))
print("{0} in binary".format(bin(dec)))
print("{0} in octal".format(oct(dec)))
print("{0} in decimal".format(hex(dec)))

Enter the decimal value 344
0b101011000 in binary
0o530 in octal
0x158 in decimal

In [ ]:
# Find ASCII Value of Character
char=str(input("Enter the character "))
print("ASCII value of {0} is {1} ".format(char,ord(char)))

Enter the character p
ASCII value of p is 112

In [ ]:
# Find HCF or GCD
def compute_hcf(x,y):
  smaller=y if x>y else x
  l=[]
  while(smaller>0): 
    if x%smaller==0 and y%smaller==0:
      l.append(smaller)
    smaller-=1

  return max(l)

def compute_hcf_1(x,y):
  while(y):
    x,y=y,x%y
  return x
compute_hcf_1(num1,num2)


num1=54;num2=24
print("The H.C.F. is ",compute_hcf(num1,num2))
print("The H.C.F. is ",compute_hcf_1(num1,num2))

The H.C.F. is  6
The H.C.F. is  6

In [ ]:
# Find LCM
def compute_lcm(x,y):
  larger=x if x>y else y
  lcm=0
  while(1):
    if larger%x==0 and larger%y==0:
      lcm=larger
      break
    larger+=1
  return lcm

def compute_lcm1(x,y):
  def gcd(x,y):
    while(y):
      x,y=y,x%y
    return int(x)
  result=int((x*y)//gcd(x,y))
  return result

print("The L.C.M. is ",compute_lcm1(num1,num2))
print("The L.C.M. is ",compute_lcm(num1,num2))

The L.C.M. is  216
The L.C.M. is  216

In [ ]:
# Find the factors of a number
num=int(input("Enter the value "))
for i in range(1,num+1):
  if num%i==0:
    print(i)

Enter the value 320
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
# Make a simple calculator
class cal:
  def __init__(self):
    self.op=-1
    self.num1=0
    self.num2=0

  def add(x,y):
    return x+y
  def sub(x,y):
    return x-y
  def mul(x,y):
    return x*y
  def div(x,y):
    return x/y

  def option(self):
    print("Select Operation")
    for i,j in enumerate(["Stop","Add","Subtract","Multiply","Divide"]):
      print(i,j)
    self.num1=int(input("Enter the first number "))
    self.num2=int(input("Enter the second number "))
    self.op=int(input("Enter option "))
    return self.op,self.num1,self.num2

  def processing(self,op,x,y):
    switcher={0:0,1:cal.add(x,y),2:cal.sub(x,y),3:cal.mul(x,y),4:cal.div(x,y)}
    print(switcher.get(op,'Enter the correct option'))
    print()

In [ ]:
object=cal()
try:  
  while(1):   
    op,n1,n2=object.option()
    object.processing(op,n1,n2)
except:
  print("Exiting ...")

In [ ]:
# Shuffle Deck of Cards
import itertools,random
deck=list(itertools.product(range(1,14),["Spade","Heart","Diamond","Club"]))
random.shuffle(deck)
for i in range(5):
  print("{0:2} of {1}".format(deck[i][0],deck[i][1]))

 5 of Club
 2 of Heart
 9 of Club
 2 of Spade
12 of Heart

In [12]:
# Display Calender
import calendar
year=int(input("Enter the year "))
month=int(input("Enter the month "))
print()
print(calendar.month(year,month))

Enter the year 2021
Enter the month 6

     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [41]:
# Displaying Fibonacci Sequence using recursion
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

num=int(input("Enter the number for fibonacci seires "))
for i in range(num):
  print(fibonacci(i+1))

Enter the number for fibonacci seires 3
1
1
2

In [42]:
# Find the sum of Natural Numbers using Recursion
def N_sum(n):
  if n==1:
    return n
  if n>1:
    return n + N_sum(n-1)

num=int(input("Enter the number "))  # 16
print("The sum is {0} ".format(N_sum(num)))

Enter the number 16
The sum is 136

In [46]:
# Find Factorial of Number Using Recursion
def fac(n):
  if n==1:
    return n
  if n>1:
    return n*fac(n-1)

print("The factorial is {0} ".format(fac(int(input("Enter the Number for Factorial ")))))

Enter the Number for Factorial 7
The factorial is 5040

In [74]:
# Convert Decimal to Binary Using Recursion
def conversion(n):
  # print("#",n,n%2)

  if n>1:
    # print(n)
    conversion(n//2)

  # print("@",n,n%2)
  print(n%2,end="")

conversion(int(input("Enter the number for conversion ")))

Enter the number for conversion 34
100010

In [82]:
# Add two matrices
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(Y)):
    result[i][j]=X[i][j]+Y[i][j]

for i in result:
  print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [93]:
# 2nd Method
output=[[X[i][j]+Y[i][j] for j in range(len(Y))] for i in range(len(X)) ]
for i in output:
  print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [98]:
# Transpose a Matrix
X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    result[j][i]=X[i][j]

for i in result:
  print(i)

[12, 4, 3]
[7, 5, 8]

In [102]:
# 2nd method
for i in [[X[j][i]for j in range(len(X))]for i in range(len(X[0]))]:
  print(i)

[12, 4, 3]
[7, 5, 8]

In [71]:
# Multiply two matrices
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
  for j in range(len(Y[0])):
    for k in range(len(Y)):
      result[i][j]+=X[i][k]*Y[k][j]

for i in result:
  print(i)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [80]:
# 2nd method
result=[[sum([a*b for a,b in zip(i,j)])for j in zip(*Y)] for i in X]
for i in result:
  print(i)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]