<a href="https://colab.research.google.com/github/capitallatera/Assignments/blob/master/python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Print hello world
print("Hello World")

Hello World

In [ ]:
# Add two numbers
num1=int(input("Enter first number :"))
num2=int(input("Enter second number :"))
print("Sum is ",num1+num2)

Enter first number :10
Enter second number :20
Sum is  30

In [ ]:
# Find the squre root
num=int(input("Enter the number for square root :"))
print('Square root of {0} is {1}'.format(num,round(num**0.5,3)))

Enter the number for square root :4
Square root of 4 is 2.0

In [ ]:
# Calculate area of triangle
height=int(input("Enter the height :"))
base=int(input("Enter the base :"))
area=(height*base)/2
print("Area of Triangle is :", area)

Enter the height :2
Enter the base :4
Area of Triangle is : 4.0

In [ ]:
# Calculate Quadratic Equation
# 6x^2+12x+17
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
c=int(input("Enter the value of c :"))
sub_result=(b**2)-(4*a*c)
result1=(-b+sub_result**0.5)/2*a
result2=(-b-sub_result**0.5)/2*a
print("Result is :",result1,result2)

Enter the value of a :6
Enter the value of b :12
Enter the value of c :17
Result is : (-35.99999999999999+48.744230427815765j) (-36.00000000000001-48.744230427815765j)

In [ ]:
# Swap two numbers
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
print("Value of a is {0} and b is {1} ".format(a,b))
print("After Swapping")
a,b=b,a
print("Value of a is {0} and b is {1} ".format(a,b))

Enter the value of a :10
Enter the value of b :20
Value of a is 10 and b is 20
After Swapping
Value of a is 20 and b is 10

In [ ]:
# Generate random number
import random
print(random.randint(0,10))

0

In [ ]:
# Converting kilometres to miles
kilometer=float(input("Enter the value of kilometer :"))
miles=kilometer*0.621371
print("Value of {0} kilometer in miles is :{1}".format(kilometer,miles))

Enter the value of kilometer :0
Value of 0.0 kilometer in miles is :0.0

In [ ]:
# Converting celsius to fahrenheit
celsius=float(input('Enter the celsius :'))
fahrenheit=(celsius*9/5)+32
print("Value of {0} degree celsius into fahrenheit is {1}".format(celsius,fahrenheit))

Enter the celsius :0
Value of 0.0 degree celsius into fahrenheit is 32.0

In [ ]:
class convert:
  def __init__(self):
    self.fahrenheit=0
    self.celsius=0
    self.option=0

  def show(self):
    for i,j in enumerate(["celsius to fahrenheit", "fahrenheit to celsius"]):
      print(i," ---> ",j)
    
  def conversion(self,value):
    if self.option==0:
      celsius=value
      self.fahrenheit=(celsius*9/5)+32
    else:
      fahrenheit=value
      self.celsius=(fahrenheit-32)*5/9
    
  def get_value(self):
    for i,j in enumerate(["celsius to fahrenheit", "fahrenheit to celsius"]):
      print(i," ---> ",j)
    print()
    self.option=int(input("Enter your option :"))
    string="Celsius" if self.option==0 else "Fahrenheit"
    value=int(input("Enter the value ({0}) for conversion :".format(string)))
    return value
  
  def result(self):
    if self.option==0:
      print("Fahrenheit is :",self.fahrenheit)
    else:
      print("Celcius is :",self.celsius)

In [ ]:
object=convert()
object.conversion(object.get_value())
object.result()

0  --->  celsius to fahrenheit
1  --->  fahrenheit to celsius

Enter your option :1
Enter the value (Fahrenheit) for conversion :32
Celcius is : 0.0

In [ ]:
# Check if the number is positive, negative or zero
num=int(input("Enter the number "))
if (num>=1):
  print("Positive")

elif (num<0):
  print("Negative")
else:
  print("Zero")

Enter the number 1
Positive

In [ ]:
# Check if number is odd and even
num=int(input("Enter the number :"))
if (num%2==0):
  print("Even")
else:
  print("Odd")

Enter the number :23
Odd

In [ ]:
# Program to check Leap year
year=int(input("Enter the year :"))
value=[]
if year%4==0:
  value.append(True)
else:
  value.append(False)

if year%100==0:
  value.append(True)
else:
  value.append(False)

if year%400==0:
  value.append(True)
else:
  value.append(False)

print()
if any(value):
  print("{0} is a {1}".format(year,"Leap year"))
else:
  print("{0} is a {1}".format(year,"Not a Leap year"))

Enter the year :2100

2100 is a Leap year

In [ ]:
# Largest among the 3 number
num1=int(input("Enter First number :"))
num2=int(input("Enter Second number :"))
num3=int(input("Enter Third number :"))
if num1>num2 and num1>num3:
  print("First number is the largest number",num1)
elif num2>num1 and num2>num3:
  print("Second number is the largest number",num2)
else:
  print("Third number is the largest number",num3)

Enter First number :30
Enter Second number :20
Enter Third number :10
First number is the largest number 30

In [ ]:
# Check the prime number
num=int(input("Enter the number "))
for i in range(2,num):
  if num%i==0:
    print("{0} is not a prime number".format(num))
    break
else:
  print("{0} is a prime number".format(num))

Enter the number 6
6 is not a prime number

In [ ]:
# print prime number in interval
num1=int(input("Start point number "))
num2=int(input("End point number "))
print("Prime numbers between {0} and {1} are".format(num1, num2))
for i in range(num1,num2+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

Start point number 900
End point number 950
Prime number between 900 950 are
907
911
919
929
937
941
947

In [ ]:
# Factorial of a number
def fac(n):
  if n==0 or n==1:
    return 1
  if n>1:
    return n*fac(n-1)

In [ ]:
num=int(input("Enter the number for factorial "))
fac(num)

Enter the number for factorial 7

5040

In [ ]:
# Display multiplication of number
num=int(input("Enter the number "))
for i in range(1,11):
  print("{0:1} x {1:2} = {2:2}".format(num,i,num*i))

Enter the number 2
2 x  1 =  2
2 x  2 =  4
2 x  3 =  6
2 x  4 =  8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x 10 = 20

In [ ]:
# print the fibonaci number  {1 1 2 3 5 8 13 21}
def fib(n):
  value0=0
  value1=1

  if n<=0:
    print("Enter the valid number")
    
  if n>=1:
    print(1)
    count=1
    while(count<n):
      value2=value0+value1
      print(value2)
      value0=value1
      value1=value2
      count+=1

In [ ]:
fib(10)

1
1
2
3
5
8
13
21
34
55

In [ ]:
# Check Armstrong number
num=int(input("Enter the number "))
size=len(str(num))
num_temp=0
for i in str(num):
  num_temp=num_temp+pow(int(i),size)

print("Armstrong Number" if num_temp==num else "Not a Armstrong number")

Enter the number 407
Armstrong Number

In [ ]:
# Check Armstrong number in interval
first=int(input("Enter the first number "))
second=int(input("Enter the seconod number "))
# print(first, second)

for j in range(first,second+1):
  num_temp=0
  size=len(str(j))
  for i in str(j):
    num_temp=num_temp+(int(i)**size)

  if num_temp==j:
    size=len(str(second))
    print("{0:{1}} is a Armstrong Number".format(j,size))

Enter the first number 100
Enter the seconod number 2000
 153 is a Armstrong Number
 370 is a Armstrong Number
 371 is a Armstrong Number
 407 is a Armstrong Number
1634 is a Armstrong Number

In [ ]:
# Find the sum of natural numbers
num=int(input("Enter the num ")) 
show="Enter positive non-zero number" if num<=0 else 0

for i in range(num):
  show=show+i+1
print(show)

Enter the num 0
Enter positive non-zero number

In [ ]:
# Display powers of 2 using anonymous fucntion
num=int(input("Enter the number "))
lists=list(map(lambda x: 2**x,range(num)))
for i,j in enumerate(lists):
  print("2 raised to power {0} is {1:3}".format(i,j))

Enter the number 10
2 raised to power 0 is   1
2 raised to power 1 is   2
2 raised to power 2 is   4
2 raised to power 3 is   8
2 raised to power 4 is  16
2 raised to power 5 is  32
2 raised to power 6 is  64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [ ]:
# Find numbers divisible by another number
my_list = [12, 65, 54, 39, 102, 339, 221,]
lists=list(filter(lambda x: x if x%13==0 else "" ,my_list))
print("Number divisible by 13 are {0} ".format(lists))

Number divisible by 13 are [65, 39, 221]

In [ ]:
# Convert Decimal to Binary, Octal and Hexadecimal
dec=int(input("Enter the decimal value "))
print("{0} in binary".format(bin(dec)))
print("{0} in octal".format(oct(dec)))
print("{0} in decimal".format(hex(dec)))

Enter the decimal value 344
0b101011000 in binary
0o530 in octal
0x158 in decimal

In [ ]:
# Find ASCII Value of Character
char=str(input("Enter the character "))
print("ASCII value of {0} is {1} ".format(char,ord(char)))

Enter the character p
ASCII value of p is 112

In [ ]:
# Find HCF or GCD
def compute_hcf(x,y):
  smaller=y if x>y else x
  l=[]
  while(smaller>0): 
    if x%smaller==0 and y%smaller==0:
      l.append(smaller)
    smaller-=1

  return max(l)

def compute_hcf_1(x,y):
  while(y):
    x,y=y,x%y
  return x
compute_hcf_1(num1,num2)


num1=54;num2=24
print("The H.C.F. is ",compute_hcf(num1,num2))
print("The H.C.F. is ",compute_hcf_1(num1,num2))

The H.C.F. is  6
The H.C.F. is  6

In [ ]:
# Find LCM
def compute_lcm(x,y):
  larger=x if x>y else y
  lcm=0
  while(1):
    if larger%x==0 and larger%y==0:
      lcm=larger
      break
    larger+=1
  return lcm

def compute_lcm1(x,y):
  def gcd(x,y):
    while(y):
      x,y=y,x%y
    return int(x)
  result=int((x*y)//gcd(x,y))
  return result

print("The L.C.M. is ",compute_lcm1(num1,num2))
print("The L.C.M. is ",compute_lcm(num1,num2))

The L.C.M. is  216
The L.C.M. is  216

In [ ]:
# Find the factors of a number
num=int(input("Enter the value "))
for i in range(1,num+1):
  if num%i==0:
    print(i)

Enter the value 320
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
# Make a simple calculator
class cal:
  def __init__(self):
    self.op=-1
    self.num1=0
    self.num2=0

  def add(x,y):
    return x+y
  def sub(x,y):
    return x-y
  def mul(x,y):
    return x*y
  def div(x,y):
    return x/y

  def option(self):
    print("Select Operation")
    for i,j in enumerate(["Stop","Add","Subtract","Multiply","Divide"]):
      print(i,j)
    self.num1=int(input("Enter the first number "))
    self.num2=int(input("Enter the second number "))
    self.op=int(input("Enter option "))
    return self.op,self.num1,self.num2

  def processing(self,op,x,y):
    switcher={0:0,1:cal.add(x,y),2:cal.sub(x,y),3:cal.mul(x,y),4:cal.div(x,y)}
    print(switcher.get(op,'Enter the correct option'))
    print()

In [ ]:
object=cal()
try:  
  while(1):   
    op,n1,n2=object.option()
    object.processing(op,n1,n2)
except:
  print("Exiting ...")

In [ ]:
# Shuffle Deck of Cards
import itertools,random
deck=list(itertools.product(range(1,14),["Spade","Heart","Diamond","Club"]))
random.shuffle(deck)
for i in range(5):
  print("{0:2} of {1}".format(deck[i][0],deck[i][1]))

 5 of Club
 2 of Heart
 9 of Club
 2 of Spade
12 of Heart

In [ ]:
# Display Calender
import calendar
year=int(input("Enter the year "))
month=int(input("Enter the month "))
print()
print(calendar.month(year,month))

Enter the year 2021
Enter the month 6

     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
# Displaying Fibonacci Sequence using recursion
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

num=int(input("Enter the number for fibonacci seires "))
for i in range(num):
  print(fibonacci(i+1))

Enter the number for fibonacci seires 3
1
1
2

In [ ]:
# Find the sum of Natural Numbers using Recursion
def N_sum(n):
  if n==1:
    return n
  if n>1:
    return n + N_sum(n-1)

num=int(input("Enter the number "))  # 16
print("The sum is {0} ".format(N_sum(num)))

Enter the number 16
The sum is 136

In [ ]:
# Find Factorial of Number Using Recursion
def fac(n):
  if n==1:
    return n
  if n>1:
    return n*fac(n-1)

print("The factorial is {0} ".format(fac(int(input("Enter the Number for Factorial ")))))

Enter the Number for Factorial 7
The factorial is 5040

In [ ]:
# Convert Decimal to Binary Using Recursion
def conversion(n):
  # print("#",n,n%2)

  if n>1:
    # print(n)
    conversion(n//2)

  # print("@",n,n%2)
  print(n%2,end="")

conversion(int(input("Enter the number for conversion ")))

Enter the number for conversion 34
100010

In [ ]:
# Add two matrices
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(Y)):
    result[i][j]=X[i][j]+Y[i][j]

for i in result:
  print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
# 2nd Method
output=[[X[i][j]+Y[i][j] for j in range(len(Y))] for i in range(len(X)) ]
for i in output:
  print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
# Transpose a Matrix
X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    result[j][i]=X[i][j]

for i in result:
  print(i)

[12, 4, 3]
[7, 5, 8]

In [ ]:
# 2nd method
for i in [[X[j][i]for j in range(len(X))]for i in range(len(X[0]))]:
  print(i)

[12, 4, 3]
[7, 5, 8]

In [ ]:
# Multiply two matrices
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
  for j in range(len(Y[0])):
    for k in range(len(Y)):
      result[i][j]+=X[i][k]*Y[k][j]

for i in result:
  print(i)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [ ]:
# 2nd method
result=[[sum([a*b for a,b in zip(i,j)])for j in zip(*Y)] for i in X]
for i in result:
  print(i)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [ ]:
# Program to check whether a string is palindrome or not
my_str = 'aIbohPhoBiA'
my_str=my_str.casefold()
ch=[]
for i,j in zip(reversed(my_str),my_str):
  ch.append(i==j)

print("Palindrome" if all(ch) else "Not a Palindrome")

Palindrome

In [ ]:
# Program to Remove Punctuations from a String
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Hello!!!, he said ---and went."

for i in my_str:
  if i not in punctuations:
    print(i,end="")

Hello he said and went

In [ ]:
# Program to sort words in alphabetic
my_str = "Hello this Is an Example With cased letters"
char=[]
for i in my_str.casefold().split():
  char.append(i)

char.sort()
for i in char:
  print(i)

an
cased
example
hello
is
letters
this
with

In [ ]:
# Program to illustrate different set operations
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};
print("Union of E and N is",E|N)
print("Intersection of E and N is",E&N)
print("Difference of E and N is",E-N)
print("Symmertic difference of E and N is",E^N)

Union of E and N is  {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is  {2, 4}
Difference of E and N is  {0, 8, 6}
Symmertic difference of E and N is  {0, 1, 3, 5, 6, 8}

In [ ]:
# Program to count the number of each vowel
vowels = 'aeiou'
ip_str = 'Hello, have you tried our tutorial section yet?'
ip_str.casefold()
count=0

for i in vowels:
  count=0
  for j in ip_str:
    if j==i:
      count=count+1
  print(i,count)

a 2
e 5
i 3
o 5
u 3

In [ ]:
# 2nd method
count={}.fromkeys(vowels,0)
for i in ip_str:
  if i in vowels:
    count[i]+=1
print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [ ]:
# 3rd method in comprehensive way
{i:sum([1 for j in ip_str if j==i]) for i in vowels}

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [ ]:
# # Python program to mail merger
# # Names are in the file names.txt
# # Body of the mail is in body.txt

# # open names.txt for reading
# with open("names.txt", 'r', encoding='utf-8') as names_file:

#     # open body.txt for reading
#     with open("body.txt", 'r', encoding='utf-8') as body_file:

#         # read entire content of the body
#         body = body_file.read()

#         # iterate over names
#         for name in names_file:
#             mail = "Hello " + name.strip() + "\n" + body

#             # write the mails to individual files
#             with open(name.strip()+".txt", 'w', encoding='utf-8') as mail_file:
#                 mail_file.write(mail)

In [ ]:
# Find the ressolution of a Image

In [ ]:
# # Program to find hash of file
# # importing the hashlib module
# import hashlib

# def hash_file(filename):
#    """"This function returns the SHA-1 hash
#    of the file passed into it"""

#    # make a hash object
#    h = hashlib.sha1()

#    # open file for reading in binary mode
#    with open(filename,'rb') as file:

#        # loop till the end of the file
#        chunk = 0
#        while chunk != b'':
#            # read only 1024 bytes at a time
#            chunk = file.read(1024)
#            h.update(chunk)

#    # return the hex representation of digest
#    return h.hexdigest()

# message = hash_file("track1.mp3")
# print(message)

In [ ]:
# Program to create pyramid patterns
# print half pyramid
row=int(input("Enter the number for pyramid "))
for i in range(row):
  for j in range(i+1):
    print("* ",end='')
  print()

Enter the number for pyramid 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
row=int(input("Enter the number for pyramid "))
for i in range(row):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

Enter the number for pyramid 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# To print half pyramid using alphabets
alphabet=chr(ord(input("Enter the character ")))
alpha=ord(alphabet.upper()) if alphabet.islower() else ord(alphabet)

for i in range(65,alpha+1):
  for _ in range(64,i):
    print(chr(i),end=" ")
  print()

Enter the character F
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [ ]:
# print inverted half pyramid using *
row=int(input("Enter the number for pyramid "))
for i in range(row,0,-1):
  for j in range(i):
    print("* ",end="")
  print()

Enter the number for pyramid 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Inverted half pyramid using numbers
row=int(input("Enter the number for pyramid "))
for i in range(row,0,-1):
  for j in range(i):
    print(j+1,end=" ")
  print()

Enter the number for pyramid 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Print full pyramid using *
row=int(input("Enter the number for pyramid "))
# row=5
for i in range(row):
  print("  "*(row-i),end="")
  for j in range((2*i)+1):
    print("* ",end="")
  print()

Enter the number for pyramid 6
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *

In [ ]:
# Full pyramid of numbers
# row=int(input("Enter the number for pyramid "))
# try again
rows = 5
k = 0
count=0
count1=0

for i in range(1, rows+1):
    print("  "*(rows-i),end="")
    count+=(rows-i)
    
    while k!=((2*i)-1):
      if count<=rows-1:
        print(i+k, end=" ")
        count+=1
      else:
        count1+=1
        print(i+k-(2*count1), end=" ")
      k += 1

    count1 = count = k = 0
    print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
# Inverted full pyramid of *
# rows=int(input("Enter the number "))
rows=5
for i in range(rows,-1,-1):
  print("  "*(rows-i),end="")
  for j in range((2*i)+1):
    print("* ",end="")
  print()

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
# Program to merge two dictionaries
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}
# {**dict_1}
print({**dict_1,**dict_2})

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
# 2nd method
dict_3=dict_1.copy()
dict_3.update(dict_2)
print(dict_3)

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
# Safely create a nested directory
import os
try:
  os.makedirs("/dirA/dirB")
except FileExistsError:
  print("File already exists")

In [ ]:
# Program to access index of a list using for loop
my_list = [21, 44, 35, 11]
for i,j in enumerate(my_list):
  print(i,j)

0 21
1 44
2 35
3 11

In [ ]:
# 2nd method
for i,j in enumerate(my_list,1):
  print(i,j)

1 21
2 44
3 35
4 11

In [ ]:
# Program to make a flattened list from nested list
my_list = [[1], [2, 3], [4, 5, 6, 7]]
print([element for sub in my_list for element in sub] )

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 2nd method
import itertools
print(list(itertools.chain(*my_list)))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 3rd method
print(sum(my_list,[]))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# list slicing in python
my_list = [1, 2, 3, 4, 5]
print(my_list[:])

[1, 2, 3, 4, 5]

In [ ]:
# 2nd method
print(my_list[2:])

[3, 4, 5]

In [ ]:
# 3d method
print(my_list[:3])

[1, 2, 3]

In [ ]:
# 4th method
print(my_list[1:4])

[2, 3, 4]

In [ ]:
# 5th method
print(my_list[::2])
print(my_list[::-2])

[1, 3, 5]
[5, 3, 1]

In [ ]:
# Program to iterate over dictionaries using for loop
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}
for i,j in dt.items():
  print(i,j)

a juice
b grill
c corn

In [ ]:
# 2nd method
for i in dt:
  print(i,dt[i])

a juice
b grill
c corn

In [ ]:
# 3rd method
for key in dt.keys():
  print(key)
for value in dt.values():
  print(value)

a
b
c
juice
grill
corn

In [ ]:
# Program to sort a dictionary by value
dt = {5:4, 1:6, 6:3}
for i,j in sorted(dt.items(),key=lambda item:item[1]):
  print(i,j)

6 3
5 4
1 6

In [ ]:
# 2nd method
dict(sorted(dt.items(),key=lambda item:item[1]))

{1: 6, 5: 4, 6: 3}

In [ ]:
# 3rd method
print(sorted(dt.values()))

[3, 4, 6]

In [ ]:
# Program to check if a list is empty
my_list=[]
if my_list==[]:
  print("It is empty")

if not len(my_list):
  print("It is empty")

if not my_list:
  print("It is empty")

It is empty
It is empty
It is empty

In [ ]:
# Program  to catch multiple exceptions in one line
string =input()
try:
  num=int(input())
  print(string+num)
except (TypeError,ValueError) as e:
  print(e)

string
5
can only concatenate str (not "int") to str

In [ ]:
# Program to copy a file
# from shutil import copyfile
# copyfile("/root/a.txt","/root/b.txt")

In [ ]:
# Program concatenate two lists
list_1 = [1, 'a']
list_2 = [3, 4, 5]
print(list_1+list_2)

[1, 'a', 3, 4, 5]

In [ ]:
# 2nd method
print([*list_1,*list_2])

[1, 'a', 3, 4, 5]

In [ ]:
# 3rd method
list_1 = [1, 'a']
list_2 = [1,3, 4, 5]
print(list(set(list_1+list_2)))

[1, 3, 4, 5, 'a']

In [ ]:
# 4th method
list_2.extend(list_1)
print(list_2)

[1, 3, 4, 5, 1, 'a']

In [ ]:
# Program to check if a key is already present in a dictionary
my_dict = {1: 'a', 2: 'b', 3: 'c'}
if 2 in my_dict:
  print("Present")

Present

In [ ]:
# Program to split a list in to evenly sized chunks
def fun(lis,chunk):
  for i in range(0,len(lis)-1,chunk):
    yield (lis[i:i+chunk])

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(fun(my_list,chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [ ]:
# 2nd method
chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print([my_list[i:i+chunk_size] for i in range(0,len(my_list)-1,chunk_size)])

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [ ]:
# Program to parse a string to a float or int
balance_str = "1500"
print(int(balance_str))

1500

In [ ]:
# 2nd method
balance_str = "1500"
print(float(balance_str))

1500.0

In [ ]:
balance_str = "1500.34"
print(int(float(balance_str)))

1500

In [ ]:
# Program to print colored test to the terminal
from termcolor import colored
print(colored("hello",'blue'))

hello

In [ ]:
# Program to convert string to datetime
from dateutil import parser
date_time=parser.parse("Mar 11 2011 11:31AM")
print(date_time)

from datetime import datetime
date_string="Mar 11 2011 11:31AM"
print(datetime.strptime(date_string,"%b %d %Y %I:%M%p"))

2011-03-11 11:31:00
2011-03-11 11:31:00

In [ ]:
# Program to get the last element of the list
my_list = ['a', 'b', 'c', 'd', 'e']
print(my_list[-1])

e

In [ ]:
# Program to get a substring of a string
my_string = "I love python."
print(my_string[2:6])
print(my_string[7:-1])

love
python

In [ ]:
# Program  to print output without a newline
print("Python",end=" ")
print("is easy language")

Python is easy language

In [ ]:
# Program  to read a file line by line into a list
with open('/content/text.txt') as f:
  content_list=f.readlines()

with open('/content/text.txt') as s:
  content1=[s for i in s]

print(content_list)
print([i.strip() for i in content_list])
print()
print(content_list)
print([i.strip() for i in content_list])

['honda 1948\n', 'mercedes 1926\n', 'ford 1903\n']
['honda 1948', 'mercedes 1926', 'ford 1903']

['honda 1948\n', 'mercedes 1926\n', 'ford 1903\n']
['honda 1948', 'mercedes 1926', 'ford 1903']

In [ ]:
# Program to randomly select an element from the list
import random
my_list = [1, 'a', 32, 'c', 'd', 31]
print(random.choice(my_list))

import secrets
print(secrets.choice(my_list))

31
c

In [147]:
# Program to check if a string is a number(float)
def isfloat(num):
  try:
    float(num)
    return True
  except:
    return False

print(isfloat('s12'))
print(isfloat('1.123'))

False
True

In [148]:
# Program to count the occurence of an item in a list
freq = ['a', 1, 'a', 4, 3, 2, 'a'].count("a")
print(freq)

3